<div class="mediamaid_partial">

<% @mediamaid = Mediamaid.new %>
<div style="border:1px solid #7e7e7e; padding:8px 0 8px 8px;">
<% form_for @mediamaid, :url  => { :controller => "mediamaid", :action  => "create" }, :html  => { :multipart  => true } do |f| %>
    <label for = "Upload Media" style="text-shadow: 1px 1px 1px #222;">Upload Media:</label> <%= f.file_field :mediamaid%>&nbsp;<%= f.submit name="Upload"%>
<% end %>
</div>
<div id="mediamaid_gallery"	style="display:none; solid #7e7e7e; padding:8px 0 8px 8px;">

<% @mediamaids = Mediamaid.find(:all) 
	i = 1
	row_limit = 7
	%>
	<table>
		<tr>
  <% @mediamaids.each do |m| 
	
   if row_limit == i 
	%> </tr><tr> <%
	i = 1
	else
	i += 1	
   	end
	%>
       
   <td>
    <% 
    if (m.mediamaid.url(:thumb))
	  # uncomment to link to show media page
	  #link_to image_tag (m.mediamaid.url(:thumb)), :action => "show", :id  => m 
	  # or, leave default to insert at original size
	  %><a href="#" onClick="insertAtCaret('part_body_content','<%=m.mediamaid.url(:original) %>')"><img src="<%=m.mediamaid.url(:thumb)%>" alt="<%=m.mediamaid_file_name %>" /></a><%
	else
	  link_to m.mediamaid_file_name, :action=> "show", :id => m
	end
	%>
	<br />
    Insert 
	<a href="#" onClick="insertAtCaret('part_body_content','<%=  m.mediamaid.url(:small) %>')">S</a> 
	<a href="#" onClick="insertAtCaret('part_body_content','<%=  m.mediamaid.url(:medium) %>')">M</a> 
	<a href="#" onClick="insertAtCaret('part_body_content','<%=  m.mediamaid.url(:large) %>')">L</a> 
	<a href="#" onClick="insertAtCaret('part_body_content','<%=  m.mediamaid.url(:original) %>')">O</a>
	</td>
<% end %>
		</tr>
    </table>
</div>
<p class="more_or_less" padding:4px 0 5px;>
<a id="more_mediamaid_gallery" href="javascript: $('mediamaid_gallery').show(); $('less_mediamaid_gallery').show(); $('more_mediamaid_gallery').hide(); this.stop()" >More</a>
<a id="less_mediamaid_gallery" style="display:none;" href="javascript: $('mediamaid_gallery').hide(); $('more_mediamaid_gallery').show(); $('less_mediamaid_gallery').hide(); this.stop()">More</a>
</p>
</div>
