<div id="mediamaid_partial">
	<script src="/javascripts/admin/mediamaid.js" type="text/javascript" ></script>
	<div id="mediamaid_head">
		<h2>Media Gallery</h2>
	</div>
	<div id="mediamaid_gallery" style="display:none;">
<% 
   @mediamaids = Mediamaid.find(:all) 
   @mediamaids.each do |m|%>
  	 <div class="mediamaid_files">
	    <%
	    if (m.mediamaid.url(:thumb))
		# uncomment to link to show media page
		#link_to image_tag (m.mediamaid.url(:thumb)), :action => "show", :id => m
		# or, leave default to insert at original size
		%>

	   		 <!-- Insert
			<a href="#" class="mediamaid_size_choice" onClick="insertAtCaret('<%= m.mediamaid.url(:small) %>');return false;">S</a>
			<a href="#" class="mediamaid_size_choice" onClick="insertAtCaret('<%= m.mediamaid.url(:medium) %>')">M</a>
			<a href="#" class="mediamaid_size_choice" onClick="insertAtCaret('<%= m.mediamaid.url(:large) %>')">L</a>
			<a href="#" class="mediamaid_size_choice" onClick="insertAtCaret('<%= m.mediamaid.url(:original) %>')">O</a> -->
			<div class="div_link">
				<div class="mediamaid_thumbnail_wrapper">
					<div class="shadow5">
					<div class="shadow4">
					<div class="shadow3">
					<div class="shadow2">
					<div class="shadow1">
					<div class="shadow_border">
						<a href="#" onClick="insertAtCaret('<%=m.mediamaid.url(:original) %>')">
							<img class="mediamaid_thumbnail" src="<%=m.mediamaid.url(:thumb)%>" alt="<%=m.mediamaid_file_name %>" />
						</a>	
					</div>
					</div>	
					</div>	
					</div>	
					</div>	
					</div>
				</div>
			</div>
			<h3><%=m.mediamaid_file_name %></h3>
		
			<%
		else
			link_to m.mediamaid_file_name, :action=> "show", :id => m
		end
		%>
		</div>
<% end %>
	</div>
	<p class="more_or_less" padding:4px 0 5px;>
	<a id="more_mediamaid_gallery" href="javascript: $('mediamaid_gallery').show(); $('less_mediamaid_gallery').show(); $('more_mediamaid_gallery').hide(); this.stop()" style="background: #7e7e7e;" >View Images</a>
	<a id="less_mediamaid_gallery" style="display:none; background: #7e7e7e;" href="javascript: $('mediamaid_gallery').hide(); $('more_mediamaid_gallery').show(); $('less_mediamaid_gallery').hide(); this.stop()">Hide Images</a>
	</p>
</div>