
<h1><%= @mediamaid.mediamaid_file_name %> Image Sizes</h1>
<blockquote>
About <%= @mediamaid.mediamaid_file_name %>:
<%= @mediamaid.mediamaid_content_type %>, <%= @mediamaid.mediamaid_file_size %>
</blockquote>
<p>Thumbnail: <br /><%= image_tag @mediamaid.mediamaid.url(:thumb) %></p>
<p>Original:<br />
<%= image_tag @mediamaid.mediamaid.url(:original) %>
</p>

		